.FinalPage {
  background-color: white;
  height: 536px;
  display: flex;
  justify-content: center;

  .content-wrapper {
    width: 418px;
    margin-top: 70px;

    .progress {
      width: 100%;
      height: 66px;
      margin-bottom: 50px;
      display: flex;
      position: relative;
      justify-content: flex-start;
      align-items: center;

      .canvas-progress {
        position: absolute;
        height: 70px;
        width: 70px;
        left: -10px;
        z-index: 15;

        &.background {
          z-index: 10;
        }
      }

      span {
        position: absolute;
        left: 16px;
        font-size: 15px;
      }
    }

    .header {
      color: #333;
      font-size: 30px;
      font-weight: 300;

      &.bold {
        font-weight: 700;
        margin-bottom: 60px;
      }
    }

    .content {
      font-size: 18px;
      color: #333;
    }

    .loading-text {
      margin-top: 25px;
      font-size: 12px;
      color: #c6c9cb;
    }
  }
}
