.Main {
  .first-section {
    height: 1008px;
    position: relative;
    background-size: cover;
    background: url(https://img.pilly.kr/main/v201911/cover-pc.jpg) no-repeat
      50% 50%;

    article {
      width: 680px;
      height: 418px;
      position: absolute;
      top: 230px;
      left: 50px;

      h2 {
        font-size: 74px;
        margin: 0 0 40px;
        line-height: 1.25;
        color: #333333;
      }

      .text {
        font-size: 26px;

        span {
          font-weight: bold;
        }
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 175px;
        height: 80px;
        border-radius: 40px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: #e26d59;
        margin-top: 35px;
      }
    }
  }

  .second-section {
    height: 607px;
    background-color: #ecd7c4;
    display: flex;
    align-items: center;
    justify-content: center;

    article {
      width: 1024px;
      height: 472px;
      text-align: center;

      h2 {
        margin: 10px 0;
      }

      .comment-box {
        width: 1024px;
        height: 217px;
        margin-top: 64px;
        color: #333333;

        img {
          display: inline;
        }

        p {
          font-size: 46px;
          font-weight: bold;
          margin: 13px 0 5px;
          line-height: 1.2;
        }

        span {
          font-size: 15px;
        }
      }
    }
  }

  .third-section {
    height: 2263px;

    .main-in-box {
      width: 1024px;
      height: 603px;
      margin: 100px auto 0;
      text-align: center;
      font-size: 13px;
      color: #333333;

      .survey-box {
        display: flex;
        margin-top: 100px;

        div {
          width: 337px;
          height: 367px;

          h2 {
            font-size: 23px;
            margin: 10px;
          }

          h1 {
            font-size: 50px;
            margin: 10px;
          }

          p {
            font-size: 25px;
            margin: 10px;
            text-align: center;
          }
        }
      }

      p {
        text-align: left;
        margin: 30px 0 110px 20px;
        font-size: 23px;
      }
    }
  }

  .fourth-section {
    height: 444px;
    background-color: #a3cbd5;
    display: flex;
    align-items: center;
    justify-content: center;

    article {
      width: 1024px;
      height: 244px;
      text-align: center;

      h1 {
        font-size: 55px;
        line-height: 1.25;
        margin: 0px;
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 80px;
        border-radius: 40px;
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        background-color: #333333;
        margin: 30px auto 0;
      }
    }
  }

  .fiveth-section {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;

    article {
      width: 1024px;
      text-align: center;
      margin-top: 100px;

      h3 {
        font-size: 19px;
      }

      .main5-in-box {
        display: flex;
        justify-content: center;
        margin: 90px 0 60px;

        .main5-left {
          width: 512px;
          text-align: left;
          font-weight: 700;
          font-size: 17px;
          color: #333333;
        }

        .main5-right {
          width: 512px;
          height: 556px;

          img {
            width: 481px;
            margin-left: 30px;
          }
        }
      }
    }
  }

  footer {
    height: 381px;
    border-top: 1px solid #ddd;
    background-color: #fafafa;

    .footer-in-box {
      width: 1024px;
      height: 381px;
      margin: 30px auto;

      .footer-header {
        height: 24px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding-bottom: 50px;

        span {
          font-size: 12px;
          font-weight: bold;
          margin-right: 22px;
        }

        img {
          margin-left: 18px;
        }
      }
      .footer {
        width: 1024px;
      }
    }
  }
}
