.PollsHeader {
  width: 100%;
  height: 91px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #bdbdbd;

  .status-wrapper {
    display: flex;

    .status {
      width: 165px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      span {
        font-size: 22px;
        color: #bdbdbd;
        font-weight: 700;

        &.active {
          color: #e26d59;
        }
      }

      img {
        height: 22px;
        opacity: 0.2;

        &.active {
          opacity: 1;
        }
      }

      &:nth-child(1) {
        margin-left: 90px;
      }

      &:nth-last-child(1) {
        img {
          display: none;
        }
      }
    }
  }

  .progress-bar {
    position: absolute;
    left: 0px;
    bottom: -5px;
    height: 5px;
    background-color: #e26d59;
  }
}
