.Price {
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .items-box {
    width: 1024px;
    margin: 0 auto;
    padding: 0 50px;

    h3 {
      font-size: 20px;
      padding-top: 50px;
    }
  }
  .price-box {
    border-top: 1px solid #b2b2b2;
    border-bottom: 2px solid #898989;

    .price-in-box {
      width: 1024px;
      margin: 0 auto;
      padding: 0 50px;

      .price {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;

        .bold {
          font-weight: 400;
        }
      }

      .sale-box {
        .sale-header {
          background-color: #f0f0f0;
          padding: 0 30px;
        }

        .sale {
          background-color: #fafafa;
          padding: 0 30px;

          span {
            margin: 15px 0 10px 0;
          }

          button {
            width: 70px;
            height: 30px;
            border-radius: 40px;
            outline: none;
            border: 1px solid #f3f3f3;
            background-color: #ffffff;
            color: #999999;
            cursor: pointer;
          }
        }
      }
    }
  }

  .total-box {
    .total-in-box {
      width: 924px;
      margin: 0 auto;

      .total {
        .name {
          font-size: 22px;
        }

        .price {
          font-size: 22px;
          color: #e26d59;
        }
      }

      .comment-box {
        display: flex;
        justify-content: flex-end;
        margin-top: -20px;

        .comment-img {
          width: 192px;
          height: 99px;
          background-image: url(/images/img-cart-priceperday@3x.png);
          background-size: cover;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .comment {
            margin-top: 12px;
            margin-right: 12px;
            p {
              margin: 0;
            }
            .day {
              font-weight: bold;
            }
          }
        }
      }
    }

    .btn-box {
      text-align: center;
      margin: 40px 0 150px;

      .start {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 310px;
        height: 60px;
        background-color: #e26d59;
        border-radius: 50px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: bold;
        color: white;
      }

      .color {
        color: #e26d59;
        font-size: 14px;
      }

      .or {
        font-size: 14px;
        margin: 30px 0;
      }

      .buy {
        font-size: 14px;
        font-weight: 600;
        color: black;
        border-bottom: 1px solid black;
        padding-bottom: 3px;
      }
    }
  }
}
