.Cart {
  header {
    width: 1024px;
    height: 42px;
    margin: 0 auto;
    padding: 120px 50px 0;
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 26px;
      font-weight: 400;
      margin: 0px;
    }

    .btn-box {
      display: flex;

      .toProducts {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 42px;
        border-radius: 50px;
        font-size: 14px;
        font-weight: bold;
        color: #707070;
        border: 1px solid #d7d7d7;
        margin-right: 10px;
      }

      .del-btn {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: url(/images/icon-cart-trash.png) no-repeat 18px 18px;
        background-position: center;
        outline: none;
        border: 1px solid #d7d7d7;
        cursor: pointer;
      }
    }
  }

  footer {
    text-align: center;

    p {
      font-size: 12px;
      color: #848484;
    }
  }
}
