.Question {
  width: 670px;
  margin: 35px auto 0;
  border-bottom: 1px solid #eee;

  .question {
    font-size: 16px;
    font-weight: bold;
    color: #999999;
    margin: 0;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
  }

  .comment {
    font-size: 16px;
    color: #999999;
    margin: 5px 0 15px;
  }
}
