@import "./mixin.scss";

> ul {
  margin: 0 auto;
  max-width: 908px;
  box-sizing: border-box;

  > li {
    position: relative;
    margin-top: 10px;
    padding: 35px 0 21px;
    border-bottom: 1px solid #efefef;
    background-color: #fafafa;
    border: 13px solid white;
    list-style: none;

    &:first-child {
      border-top-width: 0;
      margin-top: 0;
    }
    .text {
      position: relative;
      padding-left: 48px;
      padding-right: 80px;
      margin-bottom: 14px;
      h5 {
        font-size: 18px;
        line-height: 24px;
        color: #333;
        .bullet {
          content: "";
          position: absolute;
          top: 6px;
          left: 26px;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #999;
        }
      }
      p.efficiency {
        margin-top: 19px;
        width: 90%;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        span {
          display: block;
        }
      }
      p.recommend {
        margin-top: 20px;
        margin-right: -30px;
        font-size: 13px;
        color: #999;
      }
    }
    .rating {
      position: absolute;
      top: 35px;
      right: 46px;
      @include mediaMobile {
        right: 16px;
      }
      div {
        position: relative;
        margin: auto;
        text-align: center;
        > span {
          position: absolute;
          vertical-align: middle;
          font-size: 12px;
          color: #333;
          top: 35px;
          left: 30px;
          @include mediaMobile {
            top: 20px;
            left: 15px;
          }
          > em {
            display: block;
            font-size: 18px;
            font-weight: 100;
          }
        }
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.open-detailbox,
.close-detailbox {
  display: none;
  padding: 20px 25px 10px 0;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  color: #999;
  text-align: center;
  > span {
    position: absolute;
    margin-left: 10px;
    background-size: 15px;
    width: 15px;
    height: 15px;
  }
  &.close-detailbox {
    display: none;
    color: #f15a4f;
  }
}

.result-detailbox-wrap {
  padding: 14px 10px 0;
  .open-detailbox,
  .close-detailbox {
    display: none;
    padding: 20px 25px 10px 0;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    color: #999;
    text-align: center;
    > span {
      position: absolute;
      margin-left: 10px;
      background-size: 15px;
      width: 15px;
      height: 15px;
    }
    &.close-detailbox {
      display: none;
      color: #f15a4f;
    }
  }

  .detailbox {
    display: block;
    border-top: 1px solid #efefef;
    background-color: #fafafa;
    .contents-item {
      padding: 19px 16px;
      box-sizing: border-box;
      margin-bottom: 25px;

      .item-title {
        font-size: 16px;
        font-weight: 700;
        color: #999;
      }
      .item-text-wrap {
        li {
          margin-top: 24px;
          em {
            font-size: 20px;
            color: #333;
          }
          p {
            margin-top: 20px;
            line-height: 23px;
            font-size: 14px;
            font-weight: 400;
            color: #414141;
            br {
              content: "";
              display: block;
              margin-top: 10px;
            }
            > a {
              display: inline-block;
              margin-top: 30px;
              padding-left: 15px;
              width: 70px;
              font-weight: 400;
              background-image: url(/images/icons/survey/icon-document.png);
              background-repeat: no-repeat;
              background-position: 0 50%;
              background-size: 12px;
              color: #848484;
              font-size: 14px;
              border-bottom: solid 1px #848484;
              display: inline;
              padding-bottom: 0px;
              margin-right: 20px;
            }
          }
        }
      }
      &.first {
        border-bottom: 2px solid #eee;
      }
      &.fourth {
        height: 270px;
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: auto 270px;
        > p {
          color: #333;
          font-size: 25px;
          font-weight: 300;
          > em {
            font-weight: 400;
          }
        }

        > div {
          display: block;
          margin-top: 20px;
          height: 18px;
          color: #999;
          font-weight: 700;
          > img {
            vertical-align: middle;
          }
          > a {
            margin-left: 7px;
            border-bottom: solid 1px #999;
            padding-bottom: 5px;
          }
        }
        &.calmgd {
          background-image: url(https://img.pilly.kr/survey/product/pilly-calmgd.png);
          @include retina2x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-calmgd@2x.png);
          }
          @include retina3x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-calmgd@3x.png);
          }
        }
        &.lutein {
          background-image: url(https://img.pilly.kr/survey/product/pilly-lutein.png);
          @include retina2x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-lutein@2x.png);
          }
          @include retina3x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-lutein@3x.png);
          }
        }
        &.milkthistle {
          background-image: url(https://img.pilly.kr/survey/product/pilly-milkthistle.png);
          @include retina2x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-milkthistle@2x.png);
          }
          @include retina3x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-milkthistle@3x.png);
          }
        }
        &.omega3 {
          background-image: url(https://img.pilly.kr/survey/product/pilly-omega3.png);
          @include retina2x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-omega3@2x.png);
          }
          @include retina3x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-omega3@3x.png);
          }
        }
        &.vitaminb {
          background-image: url(https://img.pilly.kr/survey/product/pilly-vitaminb.png);
          @include retina2x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-vitaminb@2x.png);
          }
          @include retina3x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-vitaminb@3x.png);
          }
        }
        &.vitaminc {
          background-image: url(https://img.pilly.kr/survey/product/pilly-vitaminc.png);
          @include retina2x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-vitaminc@2x.png);
          }
          @include retina3x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-vitaminc@3x.png);
          }
        }
        &.vitaminc {
          background-image: url(https://img.pilly.kr/survey/product/pilly-vitaminc.png);
          @include retina2x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-vitaminc@2x.png);
          }
          @include retina3x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-vitaminc@3x.png);
          }
        }
        &.probiotics {
          background-image: url(https://img.pilly.kr/survey/product/pilly-probiotics.png);
          @include retina2x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-probiotics@2x.png);
          }
          @include retina3x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-probiotics@3x.png);
          }
        }
        &.vitamask {
          background-image: url(https://img.pilly.kr/survey/product/pilly-vitamask.png);
          @include retina2x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-vitamask@2x.png);
          }
          @include retina3x {
            background-image: url(https://img.pilly.kr/survey/product/pilly-vitamask@3x.png);
          }
        }

        @include mediaMobile {
          height: auto;
          > p {
            font-size: 25px;
            em {
              display: inline-block;
              max-width: 70%;
            }
          }
        }
      }
    }
  }
}
