.Polls {
  background-color: #fafafa;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 5;

  .polls-box {
    width: 940px;
    margin: 40px auto 0;
    position: relative;
    background-color: white;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.08);
  }

  .x-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: -25px;
    background-color: white;
    z-index: 10;
  }

  .footer-text {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #848484;
  }
}
