.DetailView {
  .background {
    height: 1000px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;

    .content {
      position: absolute;
      top: 25%;
      left: 15%;

      .title {
        font-size: 40px;
        font-weight: 100;
        line-height: 42px;
        margin: 5px 0px;

        &.bold {
          font-weight: 800;
        }
      }

      .middle-icons {
        display: flex;
        align-items: center;
        margin: 30px 0px;

        img {
          width: 34px;
          height: 34px;
          margin-right: 7px;
        }

        span {
          margin-right: 25px;
          font-size: 13px;
        }
      }

      .explanation {
        width: 494px;
        font-size: 16px;
        line-height: 21px;
        margin: 20px 0px;
      }

      .info {
        font-size: 14px;
        font-weight: 700;
        margin: 15px 0px;

        span {
          margin-right: 10px;

          &.space {
            border-right: 2px solid black;
          }
        }
      }

      .bottom-icons {
        .icon {
          width: 54px;
          height: 54px;
          margin-right: 10px;
        }
      }

      .cart-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 232px;
        height: 60px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        background-color: #e26d59;
        margin-top: 35px;
        outline: none;
        border: none;
        box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;

        &.click {
          border: 1px solid #ccc;
          background-color: #dddddd;
          color: white;
          box-shadow: none;
          cursor: default;
        }
      }
    }
  }

  .whole-page {
    @import "../../styles/pilly-main.scss";
  }
}
