.TextInput {
  width: 670px;
  margin: 30px auto 50px;

  input {
    width: 670px;
    height: 50px;
    padding: 0 25px;
    font-size: 18px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      font-size: 20px;
      color: #d7d7d7;
    }
  }
}
