$default-font-color: #333;

.OrderInfo {
  .subheader {
    margin-top: 100px;
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
    color: inherit;
    border-bottom: 2px solid $default-font-color;
  }

  .products-column {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    color: inherit;
    padding: 20px 0px;
    border-bottom: 1px solid $default-font-color;

    span {
      &:nth-child(1) {
        margin-right: 600px;
      }
    }
  }

  .price-tag {
    height: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
  }

  .subscription-discount {
    height: 60px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;

    span {
      &:nth-child(1) {
        margin-left: 30px;
      }

      &:nth-last-child(1) {
        margin-right: 30px;
      }
    }
  }

  .delivery-discount {
    height: 90px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 2px solid $default-font-color;

    span {
      &:nth-child(1) {
        margin-left: 30px;
      }

      &:nth-last-child(1) {
        margin-right: 30px;
      }
    }
  }

  .total-price-tag {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 25px;

    span {
      &:nth-last-child(1) {
        color: #e26d59;
      }
    }
  }
}
