.StartPage {
  width: 418px;
  margin: 0 auto;
  padding: 60px 0;

  h1 {
    margin: 0;
    font-size: 30px;
  }

  .pilly {
    margin-top: 25px;
    font-weight: 200;
  }

  p {
    font-size: 16px;
    margin: 50px 0 0 0;
  }

  .time {
    font-size: 12px;
    margin-top: 30px;
    color: #848484;
  }

  .start-btn {
    width: 418px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    margin-top: 120px;
    background-color: #333333;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}
