.Loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 0.4;

  img {
    background-repeat: no-repeat;
    width: 48px;
    width: 48px;
  }
}
