.Review {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;

  header {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 950px;

    h3 {
      font-size: 28px;
      font-weight: lighter;
    }

    h4 {
      color: #838383;
      font-size: 16px;
      font-weight: lighter;
      margin-top: 15px;

      .num-of-reviews {
        font-weight: bolder;
        color: #6ad742;
        font-size: 18px;
      }
    }
  }

  .card {
    width: 300px;
    height: 600px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.08);
    margin-top: 30px;

    .card-header {
      display: flex;
      justify-content: left;
      margin-left: 20px;
      margin-top: 20px;

      .name {
        font-weight: bolder;
        width: 45px;
        margin-right: 2px;
        margin-left: 2px;
      }

      .product {
        font-size: 14px;
        margin-right: 10px;
      }
    }

    .date-and-subscription {
      text-align: right;
      font-size: 12px;
      margin-right: 23px;
      margin-top: 12px;
    }
  }

  .product-image {
    width: 300px;
    height: 300px;
    margin-top: -500px;
    margin-bottom: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 200px;
    margin-top: 20px;
    position: relative;

    .review-text {
      font-size: 12px;
      padding-left: 40px;
      font-weight: lighter;
      line-height: 1.6;
      height: 40px;
    }

    .details {
      font-size: 12px;
      position: absolute;
      left: 40px;
      top: 130px;
      font-weight: bolder;
      color: #f1594c;
      text-decoration: underline;
      bottom: 20px;
      cursor: pointer;
    }
  }
  .review-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
  }
}
