.ProductDetail {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;

  img {
    width: 80px;
    height: 57px;
  }

  span {
    font-size: 18px;

    &.name {
      width: 510px;
    }
  }
}
