.PaymentInfo {
  .addition-contents {
    display: flex;
    align-items: center;
    height: 100px;
    margin: 25px 0px;
    font-size: 15px;
    background-color: #fafafa;

    ul {
      padding-left: 60px;
    }
  }

  .each-radio {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 20px;
    color: 1px solid #dfdfdf;
    background-color: #fafafa;

    &.active {
      border: 1px solid skyblue;
    }

    input[type="radio"] {
      width: 24px;
      height: 24px;
      margin: 0px 20px;
    }
  }

  .credit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid skyblue;

    .label {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
      color: #999;
    }

    .card-number {
      width: 800px;
      height: 90px;
      margin: 15px 0px;

      .input-box {
        display: flex;
        justify-content: space-between;

        .input-wrapper {
          width: 150px;
          height: 86px;
          margin: 0;
        }
      }
    }

    .expired-data {
      width: 800px;
      margin: 15px 0px;

      .input-box {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 50px;
          font-weight: 100;
        }

        .input-wrapper {
          width: 300px;
          height: 86px;
          margin: 0;
        }
      }
    }

    .input-wrapper {
      width: 800px;
    }
  }
}
