.Nav {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  z-index: 1;

  &.scroll-down {
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #f3f3f3;

    &.on-products-page {
      color: #333;
    }
  }

  &.on-products-page {
    color: white;
  }

  .left-logo {
    width: 59px;
    margin-left: 70px;

    img {
      width: 59px;
      height: 35px;
    }
  }

  .page-items {
    width: 576px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    margin-right: 70px;
    cursor: pointer;

    .page-item {
      color: inherit;
      padding-bottom: 4px;

      &.active {
        border-bottom: 1px solid #333;
      }

      &.active-products {
        border-bottom: 1px solid white;
      }
    }
  }
}
