.ResultsPage {
  height: 100vh;
  background-color: #fafafa;

  .first-main {
    height: 419px;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#2e469b),
      to(#4398a1)
    );

    .main-in-box {
      width: 908px;
      padding: 130px 30px 70px;
      margin: 0 auto;
      color: white;

      h1 {
        margin: 0;
        line-height: 35px;
        font-size: 36px;
        font-weight: 400;
      }

      .comment {
        font-size: 12px;
        margin: 5px 0 0;
        color: #ededed;
      }

      .line {
        width: 20px;
        height: 32px;
        border-bottom: 3px solid white;
      }

      h3 {
        margin-top: 30px;
        font-size: 18px;
      }

      ul {
        padding: 0 0 0 12px;
        font-size: 13px;
      }
    }
  }

  .second-main {
    width: 908px;
    margin: 0 auto;
    position: relative;

    .info-box {
      width: 908px;
      height: 70px;
      border-radius: 6px;
      background-color: white;
      position: absolute;
      top: -35px;
      box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.06);
      display: flex;
      align-items: center;
      justify-content: center;

      .title-box {
        width: 260px;
        text-align: center;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
          font-size: 12px;
          font-weight: 700;
          margin-right: 6px;
        }

        img {
          width: 20px;
          height: 20px;
          margin-right: 7px;
        }
      }
    }
  }

  .recommend-box {
    width: 908px;
    height: 128px;
    padding: 36px 25px;
    margin: 71px auto 0;
    background-color: white;

    h3 {
      margin: 0;
    }

    p {
      margin: 10px 0 0;
      font-size: 14px;
    }
  }

  .drug_info {
    background-color: #fafafa;
    ul {
      padding-inline-start: 0px;
      list-style: none;

      em {
        font-style: inherit;
        font-weight: 500;
      }
    }
    @import "../../styles/surveyv2-result.scss";
  }
}
